{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block header_extends %}{% endblock %}
</head>
<body>
    <div class="nav">
        <a class="logo" href="{% url 'home' %}">
            <h3>嗚嘎嘎網站</h3>
        </a>
        <a href="/">首頁</a>
        <a href="{% url 'blog_list' %}">文章列表</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>